apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-pvc
  namespace: minidrive
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 15Gi
  # Optional: Add storageClassName if your cluster has specific storage classes
  # storageClassName: local-path  # k3s default


